<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orange1988.photoselector">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ui.PhotoSelectorActivity" />
        <activity android:name=".ui.PhotoPreviewActivity"></activity>
    </application>

</manifest>
